<!DOCTYPE html>
html(lang="en-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="My news web-site")
    meta(name="keywords" content="html,css,js,Vadim,Savelyev,Vadim Savelyev,Lilproger,lilproger,Lilprog")
    meta(name="author" content="Vadim Savelyev | Lilproger")
    meta(name="robots" content="index, follow")
    link(rel="stylesheet", href="css/main.css" defer)
    link(rel="stylesheet", href="libs/normalize.css/normalize.css" defer)
    link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css" defer)
    title Lilproger.com | Главная
  body

    script(src="libs/jquery/dist/jquery.min.js" defer)
    script(src="libs/bootstrap/dist/js/bootstrap.min.css" defer)
    script(src="js/main.js")
